################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj/Debug
/bin/Debug
/.vs/XplotterGui/v15
/bin/Release
/obj/Release
/Thumbs.db
/.vs
