<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EngraverGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
    <userSettings>
        <EngraverGui.Properties.Settings>
            <setting name="ID" serializeAs="String">
                <value />
            </setting>
            <setting name="mem" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="maxnonces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="memlimit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lowprio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ddio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="daio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="nonces" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="unit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cpu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cpulimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gpu1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gpu2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gpu3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gpu4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gpu1limit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gpu2limit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gpu3limit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gpu4limit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bench" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zcb" serializeAs="String">
                <value>False</value>
            </setting>
        </EngraverGui.Properties.Settings>
    </userSettings>
</configuration>
